.fl {
  float: left;
}

.fr {
  float: right;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
}

.content {
  flex: 1;
  overflow: auto;
}

.pop-up {
  z-index: $topmost-layer;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(111,111,111, 0.4);
  .content {
    max-height: 60%;
    background-color: #fff;
  }
  .center {
    align-self: center;
    justify-content: center;
  }
  .bottom {
    align-self: flex-end;
    justify-content: center;
  }
}

.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}

.list {
  display: flex;
  list-style: none;
  justify-content: space-around;
  text-align: center;
  .list-item {
    flex: 1;
  }
  .constrained {
    flex: 1;
    overflow: auto;
  }
}

.d-list {
  display: flex;
  list-style: none;
  overflow: auto;
}

.fullw {
  width: 100%;
}

.fullh {
  height: 100%;
}

.none-scrollbar::-webkit-scrollbar {
  display: none;
}