.fl {
  float: left;
}

.fr {
  float: right;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
}

.content {
  flex: 1;
  overflow: auto;
}

.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}

.list {
  display: flex;
  list-style: none;
  justify-content: space-around;
  text-align: center;
  .list-item {
    flex: 1;
  }
  .constrained {
    flex: 1;
    overflow: auto;
  }
}